body{
    font-family: "DM Sans";
    width: 100%;
    margin: 0;
    font-size: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1190px;
    margin: 0 auto;
}
.lesson-wrapper{
    height: 600px;
    padding-bottom: 80px;
    background-color: #f6f5f5 !important;
    text-align: center;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    border-top: 1px black;
  }
  
  .lesson {
    float: left;
    width: 19%;
    margin-left: 10px;
    height: 400px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .lesson-icon {
    position: relative;
    padding-bottom: 30px;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 170px;
    width: 100%;
    color: black;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 2px;
    font-size: 15px;
    color: #666566;
    text-align: justify;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  .lesson-icon img{
      width: 200px;
      height: 200px;
  }
  .sosmed{
      float: left;
      padding-left: 20px;
  }
  .sosmed a{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    color: #91b029;
}
.sosmed spam{
    position: absolute;
    top: 25%;
    left: 30%;
}footer{
    background-color: black;
    color: #fff;
    height: 350px;
}
footer h2{
    padding-top: 5px;
}

.left-footer{
    float: right;
    padding-top: 80px;
}
.right-footer{
    float: right;
    width: 350px;
    text-align: justify;
    padding-left: 200px;
    padding-top: 80px;
}
.right-footer h2{
    padding-top: 0px;
    margin-top: 0;
}

.copyright{
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
    padding-top: 50px;
}
.left-footer li{
    margin-bottom: 10px;
}
.copy{       
    border-top: 1px solid #FFE4C4;
    padding-top: 10px;
}
.link{
    color: white;
}