@media (max-width: 1400px) {
    .right-header{
        display: none;
    }
    .icon{
        display: block;
    }
    .banner img{
        display: none;
    }
    .banner{
        background-image: url("banner.jpg");
        background-size: cover;
        width: 100%;
    }
    .lesson{
        width: 50%;
    }
    .lesso{
        margin-bottom: 30px;
    }
    .less{
        padding-left: 20px;
        padding-right: 20px;
    }
    .lesson-icon img{
        width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }
    .less .span{
        font-size: 30px;
    }
    .txt-contents{
        font-size: 30px;
    }
    

}

@media (max-width: 1000px) {
    .row-banner p{
        width: 80%;
    }
    .form-daftar-row{
        display: block;
    }
    
    .lessons{
        text-align: center;
    }
    .lesson{
        float: center;
        width: 100%;
    }
    .row-footer{
        display: block;
    }
    .form-daftar p{
        font-size: 30px;
    }  
    .form-daftar-row1 p{
        width: 300px;
    }
    .login-form{
        margin-top: 30px;
        text-align: center;
    }
    .daftar{
        padding-left: 200px;
        padding-right: 200px;
    }
    .center-footer{
        margin-left: 0px;
        padding: 0px;
    }
    ul{
        padding: 0px;
    }
}