* {
    box-sizing: border-box;
  } 
body {
    margin: 0;
    font-family:"DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

} 
a {
    text-decoration: none;
} 
.clear {
    clear: left;
}  
li{
    list-style: none;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.btn{
    padding: 12px 24px;
    color:white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
header{
    background-color: #364d59;
    position: fixed;
    color:#fff;
    height: 65px;
    width: 100%;
    top: 0;
    z-index: 10;
}
.left-header{
    float: left;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    
}
.logo img{
    width: 120px;
    
}
.icon-navicon {
    float: left;
    color: white;
    float: right;
    font-size: 25px;
    padding: 20px 0;
  /* Gantikan property display ke none */
    display: none;
}
.right-header{
    float: right;
    max-width: 390px;
}
.right-header-row{
    font-size: 20px;
    float: left;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}
.login {
    line-height: 65px;
    margin-left: 20px;
    padding: 0 20px;
    color: white;
    float: left;
    background-color: hsla(50, 33%, 25%, .60);
    
}
.login:hover{
    background-color: hsla(50, 33%, 25%, .80);
}
.banner{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #364d59;
    /* height: 300px; */   
}
.row-banner{
    padding-top: 100px;
    line-height: 30px;
    color: white;
}
.banner img{
    width: 500px;
    float: right;
}
.row-banner h1{
    letter-spacing: 5px;
    padding-right: 30px;
}
.row-banner p{
    width: 50%;
    text-align: justify;
}
.row-banner a{
    padding-top: 10px;
    padding-bottom: 10px
}
.read-more{
    background-color: darkcyan;
}
.read-more:hover{
    opacity: 1;
}
.realestate-filter {
    background: #91b029; 
}
.realestate-filter-wrap {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 6;
    position: relative; 
}
.realestate-filter a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    background: #fff;
    color: #91b029; 
}
.realestate-filter a.active {
    background: #91b029;
    color: #fff; 
}
.form-daftar{
    background: #91b029;
    padding-bottom: 30px;
}
.form-daftar-row{
    background-color:  #91b029; 
    width: 100%;
    color: white;
    display: flex;
    
}.form-daftar-row1{
    margin-left: 30px;
    padding-top: 20px;
    display: flex;
}
.form-daftar-row1 p{
    width: 150px;
    margin: 0px;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
    color: WHITE;
}
.form-daftar-row1 spam{
    margin-top: 10px;
    margin-right: 15px;
}
.tgl-lahir{
    display: flex;
}
.tgl-lahir p{
    margin: 0px;
    padding-bottom: 15px;
    width: 150px;
    
}
.tgl-lahir spam{
    margin-right: 15px;

}
.tgl-lahir .tanggal{
    width: 50px;
}
.tgl-lahir .bulan{
    width: 90px;
}
.tgl-lahir .tahun{
    width: 70px;
}
.list{
    margin-right: 15px;
}
.daftar {
	background-color:#000000;
    border:2px solid #000000;
    letter-spacing: 2px;
    padding:13px 80px;
    font-size:18px;
    cursor:pointer;
}
.daftar:active {
    background-color:#1a1a1a;
    font-size: 18px;
}
.form{
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    border:1px solid white;
    margin-bottom: 20px;

}
.form:hover{
    border: 1px solid cyan;
}
.text{
    width: 240px;
}
.list{
    padding-left: 1px;
    margin-left: 1px;
}
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align:center;
  }
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}
.heading h2 {
    font-weight: normal;
}
.lesson{
    float: left;
    width: 20%;
}
.lesso{
    margin-left: 20px;
    background-color: white;
    margin-top: 20px;
}
.lesson-icon {
    position: relative;
}
.lesson-icon img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.less {
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
}
.less .span{
    font-size: 18px;
        margin: 0px;
}
.sosmed{
    float: left;
    width: 100%;
    padding-top: 10px;
}
.sosmed a{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  color: #91b029;
}
.sosmed spam{
  position: absolute;
  top: 35%;
  left: 35%;
}
.txt-contents {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  color: #b3aeb5;
  padding-right: 10px;
}
footer{
    background-color: black;
    padding : 4em 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}
.row-footer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.left-footer{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    max-height: 100px;
    height: 300px;
}
.left-footer a{
    font-size: 18px;

}
.left-footer h3{
    font-size: 18px;
}
.left-footer .sosmed{
    margin-bottom: 20px;
}
.center-footer{
    width: 100%;
    margin-right: 20px;
    margin-left: 150px;
    font-size: 20px;
    line-height: 40px;
}
.right-footer{

    position: relative;
    width: 100%;
    font-size: 16px;
}
.right-footer h2{
    margin-bottom: 10px;
}
.right-footer p{
    margin-top: 0px;
    text-align: justify;
}
.copyright{
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.copy{       
    border-top:  1px solid rgba(255, 255, 255, 0.1) !important;
    padding-top: 10px;
}
.link{
    color: rgba(255, 255, 255, 0.7);
}
















.row{
    display: flex;
}